<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uts.dao.PageCustomerMapper">
	<resultMap id="customerMap" type="uts.ui.pojo.Customer">
		<id property="genBrchCode" column="gen_brch_code" />
		<result property="custNo" column="cust_no"/>
		<result property="custLastName" column="cust_last_name"/>
	</resultMap>
	
	<select id="findCustomer" parameterType="uts.ui.pojo.PageCustomer" statementType="CALLABLE">
		{call find_customer_by_branch(
		#{genBrchCode, mode=IN, jdbcType=NVARCHAR},
		#{start, mode=IN, jdbcType=INTEGER},
		#{end, mode=IN, jdbcType=INTEGER},
		#{count, mode=OUT, jdbcType=INTEGER},
		#{customerList, mode=OUT, jdbcType=CURSOR,javaType=ResultSet, resultMap=customerMap}
		)}
	</select>
</mapper>